<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368

  NOTE: If you debug this on your local machine with IIS 7 then install the URL Rewrite Module
  http://www.iis.net/downloads/microsoft/url-rewrite
  -->
<configuration>
 
  <!-- Configure paths containing static files -->
  <location path="Branding">
    <system.web>
      <httpHandlers>
        <clear />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

</configuration>
